{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Bienvenue sur le site de vente de livre Symbook</h1>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem tempora laborum, tenetur impedit facilis quam at iste ullam aliquid accusamus, suscipit deleniti corporis cupiditate nam nemo eveniet. Totam, mollitia autem.
Nihil a in suscipit. Nam adipisci, impedit officia, facere pariatur perspiciatis odit facilis veniam amet molestiae suscipit a quia quasi deleniti animi tempora in. Est natus laborum perferendis possimus debitis.
Animi dolores maiores alias necessitatibus nam, amet dignissimos accusamus, velit reiciendis minus delectus doloribus est accusantium doloremque consequatur asperiores iste? Eius quae harum repudiandae, delectus exercitationem ad maiores libero quia!
Quos dolorum blanditiis accusantium impedit quam, officiis perferendis. Quis debitis fugit maxime voluptate nam tempora, temporibus necessitatibus! Repellendus ipsum vel alias dignissimos odio voluptas, quam ex quis temporibus quae sed!
Excepturi ipsum rem harum aliquid ipsam, debitis dolore eos temporibus laboriosam necessitatibus, fuga amet vero libero impedit nam voluptatibus vel saepe veniam quis consequatur. Numquam quisquam earum sapiente rerum eius.
Pariatur modi esse ab, id iusto tempora, labore earum recusandae, fuga voluptates explicabo illum veniam praesentium. Sunt totam doloribus omnis. In mollitia ad, sequi laboriosam itaque quasi quaerat nam minima?
Praesentium cupiditate nobis laboriosam debitis, fuga, earum illo aliquam delectus id voluptatibus nesciunt! Repellendus in inventore quidem ipsum, tempore itaque neque doloremque veritatis tenetur odit quae expedita illum? Nostrum, reprehenderit!
{% endblock %}
